body {
  background: linear-gradient(45deg, #121212, #000000);
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Đặt kích thước cơ bản cho body */
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25em; /* Sử dụng padding thay vì pixel để giữ kích thước tương đối */
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
}

.about h1 {
  font-size: 1.5em; /* Giảm kích thước chữ của tiêu đề */
  color: #00ffcc;
}

.screenshots {
  margin-top: 40px;
}

.screenshots ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.screenshots li {
  flex: 0 0 48%;
}

.screenshots img {
  width: 100%;
  height: auto;
  border: 2px solid #00ffcc;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
}

.screenshots img:hover {
  transform: scale(1.1) translateY(-10px);
  border-color: #ff6600;
  background-color: rgba(255, 255, 255, 0.1);
}

.info-label-value {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.info-label {
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(135deg, #3498db, #8e44ad);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, background 0.5s ease-in-out;
  transform-style: preserve-3d;
}

.info-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.info-label:hover {
  transform: translateY(-5px) rotateX(20deg) rotateZ(15deg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #2980b9, #6f7c80);
}

.info-label:hover::before {
  transform: scaleX(1);
}

.info-label a {
  color: inherit;
  position: relative;
  z-index: 1;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.info-label a::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 80%;
  height: 2px;
  background-color: #fff;
  transform-origin: 50% 100%;
  transform: scaleX(0) translateX(-50%);
  transition: transform 0.5s ease-in-out;
}

.info-label:hover a::before {
  transform: scaleX(1) translateX(-50%);
}

.info-label a::after {
  content: '🚀';
  position: absolute;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.info-label:hover a::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

.info-label:hover a {
  color: #f39c12;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.info-label:hover a {
  animation: blink 1s infinite;
}


.info-value {
  font-size: 0.9em; /* Điều chỉnh kích thước của giá trị thông tin */
  color: #fff;
  word-break: break-all;
  transition: color 0.3s ease-in-out;
}

.info-value a {
  text-decoration: none;
  color: #007BFF;
  transition: color 0.3s ease-in-out;
}

.info-value a:hover {
  color: #00ffcc;
}

.info-value:hover {
  transform: translateX(5px);
  color: #ff6600;
}

.info-label-value:hover {
  background: linear-gradient(45deg, #00ffcc, #ff4d00, #aa00ff, #00aaff);
  animation: gradientAnimation 5s infinite alternate;
  transition: background 0.3s ease-in-out;
  transform: scale(1.05);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}