body {
  background-color: #000; /* Màu nền đen hiện đại */
  background-image: linear-gradient(45deg, #1a1a1a, #2d2d2d); /* Pha trộn nhiều màu khác nhau */
  color: #fff; /* Màu chữ trắng */
  font-family: Arial, sans-serif; /* Kiểu font chữ */
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.about h1 {
  font-size: 2em;
  color: #00ffcc; /* Màu chữ xanh lam nhạt */
}

.screenshots {
  margin-top: 40px;
}

.screenshots ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.screenshots li {
  flex: 0 0 48%; /* 48% để có khoảng trống giữa 2 hình ảnh */
}

.screenshots img {
  width: 100%;
  height: auto;
  border: 2px solid #00ffcc; /* Đường viền màu xanh lam nhạt */
  border-radius: 8px;
}

.apps {
  border: 2px solid #666; /* Đường viền màu xám đậm */
  background-color: #333; /* Màu nền xám đậm */
}

.apps h1 {
  color: #00ffcc; /* Màu chữ xanh lam nhạt */
}

.info-label-value {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  color: #00ffcc; /* Màu chữ xanh lam nhạt */
}

.info-value {
  color: #fff; /* Màu chữ trắng */
  word-break: break-all; /* Ngắt từ khi độ dài vượt quá khung */
}

.dev {
  background-color: #222; /* Màu nền xám đậm */
  border: 2px solid #00ffcc; /* Đường viền màu xanh lam nhạt */
}

.dev h1 {
  color: #00ffcc; /* Màu chữ xanh lam nhạt */
}
